* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  top: 0;
  background-color:  #0079b5;
  opacity: 0.9;
  z-index: 1;
  color: white;
}
nav a {
  display: inline-block;
  margin: 0 20px;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  align-items: start;
  color: #f0f0f0;
  transition: 0.5s
}
nav a:hover {
  color: yellow;
  transition: 0.5s;
}
/*main*/
main {
  padding: 10% 5%;
  width: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    #0079b5,
    #007fbf,
    #0085c7,
    #0199b8,
    #00a9c7,
    #00b2d0,
    #00aed1,
    #00b2d6
  );
}

main h1,p {
  margin:3%;
}
main a {
  margin-top: 0%;
  padding: 1%;
  color: black;
  background-color: #ffd26b;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}
main a:hover {
  background-color: rgb(255, 255, 0);
  transition: 0.5s;
}
.contact div,
h2 {
  margin: 1%;
  padding: 1%;
}
.contact h2 {
  color: #0068a0;
}
.icons {
  display: flex;
  justify-content: space-around;
}
.icon {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-style: none;
  transition: 0.5s;
}
.icon:hover {
  border-radius: 20px;
  box-shadow:
    -10px 10px 10px rgba(0, 191, 255, 0.5),
    10px -10px 10px rgb(255, 179, 0.1, 0.5);
  transition: 0.5s;
}

/* Footer */
footer {
  background-color: rgb(43, 174, 226);
  color: white;
  text-align: center;
  padding: 1px;
  width: 100%;
}
.footer p {
  margin: 10px 0;
}

